<html>
  <head>
    <style>
     body {
      color: pink;
      text-align: center;
      } 
 
    </style>
  </head>
  <body>
    {% if user.is_loged %}
        <h1>Hello, {user.username} !!!</h1>
        <p> Welcome to the Our site</p>
        <div>
            <a href="{% url 'login' %}">Logout</a>
          </div>
    {% ele %}
        <h1>Hello</h1>
        <p> Welcome to the Our site!</p>
        <div>
            <a href="{% url 'home' %}">Sign Up</a>
      
            <a href="{% url 'login' %}">Login</a>
          </div>
    {% endif%}

    
    <div>
      <a href="{% url 'home' %}">Sign Up</a>

      <a href="{% url 'login' %}">Login</a>
    </div>
  </body>
</html>
