<html>
  <head>
    <style>
     body {
      color: pink;
      text-align: center;
      } 
 
    </style>
  </head>
  <body>
    {% if user.is_authenticated %}
        <h1>Hello, {{user.username}} !!!</h1>
        <p> Welcome to the Our site</p>
        <div>
            <a href="{% url 'logout' %}?next=/home">Logout</a>
          </div>
    {% else %}
        <h1>Hello</h1>
        <p> Welcome to the Our site!</p>
        <div>
            <a href="{% url 'home' %}">Sign Up</a>
      
            <a href="{% url 'login' %}">Login</a>
          </div>
    {% endif %}
  </body>
</html>
