{% extends "base.html" %}

{% block content %}
    <div class="about">
        <p>Writing to yourself is an effective form of self-expression. Having a space to write down your emotions, emotions, experiences, and personal observations about life, if you term it a diary or a journal, can be soothing and teach you to know yourself better. It can also unleash the strength of your imagination and empower you to realize visions that would otherwise remain unrealized.</p>
        <p>Keeping a diary is a process of self-expression as well as self-reflection. When you read what you’ve written, whether it’s a new entry or one from months or years before, it becomes a way for you to listen to yourself and reveal the emotional terrain of who you really are. By cultivating this sense of connection with oneself, one opens the door to greater emotional intimacy with others.</p>
        <p>Mostly, a journal serves as a safe haven in which we can share feelings or sentiments that may be too painful to express in a more public environment. Whether it is for venting indignation, writing about a new crush, or grieving the loss of a loved one, finding a comfortable space to release your thoughts and emotions normally helps you feel happier overall by offering an outlet for thoughts and feelings that would otherwise get bottled up inside of you.</p>
        <p>The application has {{ users_count }} users and {{entries_count}} entries.</p>
    </div>
{% endblock%}