{% extends "base.html" %}

{% block content %}
    <div class="content-container">
      <p> Welcome to our site</p>

      <div class="quote-container">
        <figure class="text-end">
          <blockquote class="blockquote">
            <p>Memory is the diary that we all carry about with us.</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Oscar Wilde in <cite title="Source Title">The Importance of Being Earnest</cite>
          </figcaption>
        </figure>
      </div>
    </div>
{% endblock %}

