<header>
  <nav class="navbar navbar-expand-md">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">My diary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
    </div>
    
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      {% if user.is_authenticated %}
      
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><h1 class="user">Hello, {{user.username}} !!!</h1></li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}?next={% url 'index' %}">Logout</a>
            </li>
        </ul>
      {% else %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
        </ul>
      {% endif %}
    </div>
</nav>
</header>