{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-around mt-4">

    <h1><i class="fa-solid fa-book"></i> Dear diary …</h1>
    <a href="{% url 'entry-create' %}"><button type="button" class="btn btn-success mt-2">Add new entry <i class="fa-solid fa-plus"></i></button></a>

</div>
<div class="mt-5">
        {% for entry in entry_list %}
            <div class="row">
                <h2 class="mr-3">{{ entry.date_created|date:'Y-m-d H:i' }}</h2>
                <h3>{{ entry.title }}</h3>
                <a class="mx-3" href="{% url 'entry-update' %}">✍️ Edit</a>
                <a href="{% url 'entry-delete' %}">⛔ Delete</a>
            </div>
        {% endfor %}
</div>
{% endblock %}