{% extends "base.html" %}


{% block content %}
<div class="d-flex justify-content-around mt-4">

    <h1><i class="fa-solid fa-book"></i> Dear diary …</h1>
    <a href="{% url 'entry-create' %}"><button type="button" class="btn btn-success mt-2">Add new entry <i class="fa-solid fa-plus"></i></button></a>

</div>
<div class="mt-5">
        {% for entry in entry_list %}
            <div class="row">
                {% include "entries/entry.html" %}          
            </div>
        {% endfor %}
</div>
{% endblock %}